<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background: #f4f4f4;
      }
      .email-container {
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
        background: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
      }
      .email-header {
        background: url("https://static.vecteezy.com/system/resources/previews/002/292/582/original/elegant-black-and-gold-banner-background-free-vector.jpg") no-repeat;
        background-color: #777777;
        background-size: cover;
        padding: 30px;
        color: white;
        text-align: center;
        font-size: 2em;
      }
      .email-content {
        padding: 30px;
        color: #444444;
        line-height: 1.5em;
      }
      .email-content p {
        margin-bottom: 20px;
      }
      .product-card {
        display: flex;
        margin-bottom: 20px;
        padding: 20px;
        border: 1px solid #dddddd;
        border-radius: 5px;
      }
      .product-card img {
        width: 120px;
        border-radius: 10px;
        margin-right: 30px;
      }
      .product-card div {
        line-height: 1.2;
      }
      .product-card ul {
        list-style-type: none;
        padding: 0;
      }
      .client-message {
        padding: 20px;
        margin: 20px 0;
        background: #f0f0f0;
        border-radius: 5px;
      }
      .cta-button {
        display: inline-block;
        background: #007bff;
        color: #ffffff;
        padding: 15px 30px;
        margin: 20px 0;
        text-decoration: none;
        border-radius: 5px;
      }
      .email-footer {
        padding: 30px;
        text-align: center;
        color: #777777;
        background: #f4f4f4;
        font-size: 0.8em;
      }
    </style>
  </head>
  <body>
    <div class="email-container">
      <div class="email-header">Novo Orçamento Recebido</div>
      <div class="email-content">
        <p>Olá {{supplierName}},</p>
        <p>
          É com prazer que informamos que um novo orçamento foi feito pelo nosso
          cliente <b>{{clientName}}</b>. Aqui estão os detalhes do produto
          cotado:
        </p>
        <!-- Repita esta seção para cada produto -->
        <div class="product-card">
          <img src="{{productImage}}" alt="{{productName}}" />
          <div>
            <strong>{{productName}}</strong><br />
            Quantidade: {{quantity}}<br />
            <ul>
              {{#each this.variations}}
                <li>{{this.variation}}: {{this.variationOption}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
        <!-- Fim da seção de produtos -->
        <p>O cliente deixou a seguinte mensagem:</p>
        <div class="client-message">{{clientMessage}}</div>
        <p>
          Por favor, revise o orçamento e nos informe se há algum problema ou
          preocupação.
        </p>
        <a href="{{reviewLink}}" class="cta-button">Revisar Orçamento</a>
      </div>
      <div class="email-footer">
        <p>Atenciosamente,<br />Facilite</p>
      </div>
    </div>
  </body>
</html>
